{% extends 'contacts/base.html' %}
{% block body %}
    <h3 class="text-center m-4">Login</h3>
    {% if success %}
        <!-- Modal -->
        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Success</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Logged in successfully!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'index' %}" class="btn btn-primary">Go to Home page</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-address-card fa-lg"></i> Login
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <!-- {% for field in form %}
                                <div>
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                            {% endfor %} -->
                            <button type="submit" class="btn btn-primary mt-3">Login</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}